In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import TimeSeriesSplit

In [2]:
#small sample for initial testing
data_s = pd.read_csv('raw_data/BTCUSDT_S_DEPTH_2022_02_26_05_26.csv')
data_s.head(2)

,symbol,ts,last_update_id,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,BTCUSDT,1645833600210,1240612616670,39205.3,3.75,39204.5,0.047,39203.9,0.27,39202.1,...,39211.7,0.173,39211.8,0.48,39211.9,0.169,39212.0,0.005,39212.1,0.001
1,BTCUSDT,1645833600705,1240612848684,39205.3,3.75,39204.5,0.047,39203.9,0.27,39202.1,...,39211.7,0.173,39211.8,0.48,39211.9,0.169,39212.0,0.005,39212.1,0.001

In [3]:
data_s.shape

(13264949, 83)

In [1]:
pwd

'/Users/abefarkas/code/abefarkas/Thalassa_Regime_Classifier'