In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/Users/abefarkas/Project OB Data/data_set.csv')

In [4]:
data.head()

,Unnamed: 0,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,...,ap16,as16,ap17,as17,ap18,as18,ap19,as19,ap20,as20
0,0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,0.505087,...,28724.006522,0.418891,28724.167391,0.487558,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145
1,1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,0.737259,...,28760.520690,7.383086,28760.674138,4.193586,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017
2,2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,0.382467,...,28787.931667,0.427633,28788.138333,0.580383,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300
3,3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,0.325300,...,28793.874833,0.486350,28794.093333,0.346800,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067
4,4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,0.232483,...,28792.984483,0.383293,28793.143103,0.595362,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776

In [40]:
# Weighted Average Price
data['WAP'] = (data['bp1']*data['bs1']
               +data['bp2']*data['bs2']
               +data['ap1']*data['as1']
               +data['ap2']*data['as2'])/(data['bs1']+
                                         data['bs2']+
                                         data['as1']+
                                         data['as2'])

In [7]:
data['spread'] = ((data['ap1']/data['bp1']) - 1)

In [8]:
data

,Unnamed: 0,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,...,ap17,as17,ap18,as18,ap19,as19,ap20,as20,WAP,spread
0,0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,0.505087,...,28724.167391,0.487558,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145,28720.131688,0.000015
1,1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,0.737259,...,28760.674138,4.193586,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017,28756.179152,0.000010
2,2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,0.382467,...,28788.138333,0.580383,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300,28782.777221,0.000005
3,3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,0.325300,...,28794.093333,0.346800,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067,28789.546017,0.000005
4,4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,0.232483,...,28793.143103,0.595362,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776,28788.543348,0.000008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,2875,2022-05-19 23:57:45,30338.635000,3.969417,30338.193333,0.415267,30337.791667,0.198983,30337.486667,0.348533,...,30341.966667,0.526467,30342.106667,1.050233,30342.235000,1.085950,30342.378333,0.718317,30338.642871,0.000003
2876,2876,2022-05-19 23:58:15,30326.763333,1.418667,30326.355000,0.436217,30325.738333,0.299033,30325.345000,0.070417,...,30330.665000,0.743667,30330.831667,1.051067,30331.013333,0.843717,30331.190000,1.326483,30326.837494,0.000003
2877,2877,2022-05-19 23:58:45,30319.180000,2.653744,30318.591111,0.620722,30318.086667,0.219122,30317.767222,0.326067,...,30322.896111,0.453300,30323.008333,0.712428,30323.123333,0.800967,30323.241667,0.675256,30319.209877,0.000003
2878,2878,2022-05-19 23:59:15,30319.861667,2.928600,30319.371667,0.253267,30319.170000,1.180767,30318.805000,1.711983,...,30323.665000,0.432567,30323.838333,0.591883,30324.008333,0.344667,30324.175000,0.469600,30319.925778,0.000003
2879,2879,2022-05-19 23:59:45,30320.560000,2.786183,30320.020000,0.357083,30319.876667,0.306200,30319.665000,0.771800,...,30323.726667,0.327533,30323.946667,0.375933,30324.131667,0.539817,30324.335000,0.620150,30320.631974,0.000003

In [9]:
def log_price(list_stock_prices):
    return np.log(list_stock_prices)

In [10]:
data.insert(0, 'log_price', log_price(data['WAP']))

In [11]:
data['log_returns'] = data.log_price.diff()

In [12]:
data

,log_price,Unnamed: 0,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,as17,ap18,as18,ap19,as19,ap20,as20,WAP,spread,log_returns
0,10.265354,0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,...,0.487558,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145,28720.131688,0.000015,NaN
1,10.266608,1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,...,4.193586,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017,28756.179152,0.000010,0.001254
2,10.267532,2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,...,0.580383,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300,28782.777221,0.000005,0.000925
3,10.267768,3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,...,0.346800,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067,28789.546017,0.000005,0.000235
4,10.267733,4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,...,0.595362,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776,28788.543348,0.000008,-0.000035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,10.320178,2875,2022-05-19 23:57:45,30338.635000,3.969417,30338.193333,0.415267,30337.791667,0.198983,30337.486667,...,0.526467,30342.106667,1.050233,30342.235000,1.085950,30342.378333,0.718317,30338.642871,0.000003,0.000406
2876,10.319788,2876,2022-05-19 23:58:15,30326.763333,1.418667,30326.355000,0.436217,30325.738333,0.299033,30325.345000,...,0.743667,30330.831667,1.051067,30331.013333,0.843717,30331.190000,1.326483,30326.837494,0.000003,-0.000389
2877,10.319537,2877,2022-05-19 23:58:45,30319.180000,2.653744,30318.591111,0.620722,30318.086667,0.219122,30317.767222,...,0.453300,30323.008333,0.712428,30323.123333,0.800967,30323.241667,0.675256,30319.209877,0.000003,-0.000252
2878,10.319560,2878,2022-05-19 23:59:15,30319.861667,2.928600,30319.371667,0.253267,30319.170000,1.180767,30318.805000,...,0.432567,30323.838333,0.591883,30324.008333,0.344667,30324.175000,0.469600,30319.925778,0.000003,0.000024
2879,10.319584,2879,2022-05-19 23:59:45,30320.560000,2.786183,30320.020000,0.357083,30319.876667,0.306200,30319.665000,...,0.327533,30323.946667,0.375933,30324.131667,0.539817,30324.335000,0.620150,30320.631974,0.000003,0.000023

In [13]:
def realized_volatility():
    list_vol = []
    i = 0
    for i in data.index:
        x = np.std(data.log_returns.iloc[:i])
        i += 1
        list_vol.append(x)
    
    return list_vol

In [14]:
data['realized_volatility'] = realized_volatility()

In [15]:
data

,log_price,Unnamed: 0,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,ap18,as18,ap19,as19,ap20,as20,WAP,spread,log_returns,realized_volatility
0,10.265354,0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,...,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145,28720.131688,0.000015,NaN,NaN
1,10.266608,1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,...,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017,28756.179152,0.000010,0.001254,NaN
2,10.267532,2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,...,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300,28782.777221,0.000005,0.000925,0.000000
3,10.267768,3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,...,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067,28789.546017,0.000005,0.000235,0.000165
4,10.267733,4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,...,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776,28788.543348,0.000008,-0.000035,0.000425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,10.320178,2875,2022-05-19 23:57:45,30338.635000,3.969417,30338.193333,0.415267,30337.791667,0.198983,30337.486667,...,30342.106667,1.050233,30342.235000,1.085950,30342.378333,0.718317,30338.642871,0.000003,0.000406,0.000558
2876,10.319788,2876,2022-05-19 23:58:15,30326.763333,1.418667,30326.355000,0.436217,30325.738333,0.299033,30325.345000,...,30330.831667,1.051067,30331.013333,0.843717,30331.190000,1.326483,30326.837494,0.000003,-0.000389,0.000558
2877,10.319537,2877,2022-05-19 23:58:45,30319.180000,2.653744,30318.591111,0.620722,30318.086667,0.219122,30317.767222,...,30323.008333,0.712428,30323.123333,0.800967,30323.241667,0.675256,30319.209877,0.000003,-0.000252,0.000558
2878,10.319560,2878,2022-05-19 23:59:15,30319.861667,2.928600,30319.371667,0.253267,30319.170000,1.180767,30318.805000,...,30323.838333,0.591883,30324.008333,0.344667,30324.175000,0.469600,30319.925778,0.000003,0.000024,0.000558
2879,10.319584,2879,2022-05-19 23:59:45,30320.560000,2.786183,30320.020000,0.357083,30319.876667,0.306200,30319.665000,...,30323.946667,0.375933,30324.131667,0.539817,30324.335000,0.620150,30320.631974,0.000003,0.000023,0.000558

In [21]:
data.duplicated().value_counts()

False    2880
dtype: int64

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
imputer = SimpleImputer(strategy="constant", fill_value = 0) # Instantiate a SimpleImputer object with your strategy of choice

imputer.fit(data[['realized_volatility']]) # Call the "fit" method on the object

data['realized_volatility'] = imputer.transform(data[['realized_volatility']]) # Call the "transform" method on the object

imputer.statistics_ # The mean is stored in the transformer's memory

array([0.])

In [24]:
imputer2 = SimpleImputer(strategy="constant", fill_value = 0.001254)
imputer2.fit(data[['log_returns']]) # Call the "fit" method on the object

data['log_returns'] = imputer2.transform(data[['log_returns']]) # Call the "transform" method on the object

imputer2.statistics_ # The mean is stored in the transformer's memory

array([0.001254])

In [25]:
data

,log_price,Unnamed: 0,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,...,ap18,as18,ap19,as19,ap20,as20,WAP,spread,log_returns,realized_volatility
0,10.265354,0,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,...,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145,28720.131688,0.000015,0.001254,0.000000
1,10.266608,1,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,...,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017,28756.179152,0.000010,0.001254,0.000000
2,10.267532,2,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,...,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300,28782.777221,0.000005,0.000925,0.000000
3,10.267768,3,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,...,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067,28789.546017,0.000005,0.000235,0.000165
4,10.267733,4,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,...,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776,28788.543348,0.000008,-0.000035,0.000425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,10.320178,2875,2022-05-19 23:57:45,30338.635000,3.969417,30338.193333,0.415267,30337.791667,0.198983,30337.486667,...,30342.106667,1.050233,30342.235000,1.085950,30342.378333,0.718317,30338.642871,0.000003,0.000406,0.000558
2876,10.319788,2876,2022-05-19 23:58:15,30326.763333,1.418667,30326.355000,0.436217,30325.738333,0.299033,30325.345000,...,30330.831667,1.051067,30331.013333,0.843717,30331.190000,1.326483,30326.837494,0.000003,-0.000389,0.000558
2877,10.319537,2877,2022-05-19 23:58:45,30319.180000,2.653744,30318.591111,0.620722,30318.086667,0.219122,30317.767222,...,30323.008333,0.712428,30323.123333,0.800967,30323.241667,0.675256,30319.209877,0.000003,-0.000252,0.000558
2878,10.319560,2878,2022-05-19 23:59:15,30319.861667,2.928600,30319.371667,0.253267,30319.170000,1.180767,30318.805000,...,30323.838333,0.591883,30324.008333,0.344667,30324.175000,0.469600,30319.925778,0.000003,0.000024,0.000558
2879,10.319584,2879,2022-05-19 23:59:45,30320.560000,2.786183,30320.020000,0.357083,30319.876667,0.306200,30319.665000,...,30323.946667,0.375933,30324.131667,0.539817,30324.335000,0.620150,30320.631974,0.000003,0.000023,0.000558

In [26]:
data.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [27]:
data

,log_price,primary_key,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,...,ap18,as18,ap19,as19,ap20,as20,WAP,spread,log_returns,realized_volatility
0,10.265354,2022-05-19 00:00:15,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,0.505087,...,28724.361594,0.706101,28724.511594,0.707326,28724.657971,1.104145,28720.131688,0.000015,0.001254,0.000000
1,10.266608,2022-05-19 00:00:45,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,0.737259,...,28760.872414,0.620983,28761.067241,0.773897,28761.250000,0.854017,28756.179152,0.000010,0.001254,0.000000
2,10.267532,2022-05-19 00:01:15,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,0.382467,...,28788.331667,0.421400,28788.506667,0.376617,28788.750000,0.425300,28782.777221,0.000005,0.000925,0.000000
3,10.267768,2022-05-19 00:01:45,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,0.325300,...,28794.290000,1.161250,28794.483000,0.536067,28794.623333,0.395067,28789.546017,0.000005,0.000235,0.000165
4,10.267733,2022-05-19 00:02:15,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,0.232483,...,28793.387931,0.417172,28793.587931,0.473741,28793.763793,0.417776,28788.543348,0.000008,-0.000035,0.000425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,10.320178,2022-05-19 23:57:45,30338.635000,3.969417,30338.193333,0.415267,30337.791667,0.198983,30337.486667,0.348533,...,30342.106667,1.050233,30342.235000,1.085950,30342.378333,0.718317,30338.642871,0.000003,0.000406,0.000558
2876,10.319788,2022-05-19 23:58:15,30326.763333,1.418667,30326.355000,0.436217,30325.738333,0.299033,30325.345000,0.070417,...,30330.831667,1.051067,30331.013333,0.843717,30331.190000,1.326483,30326.837494,0.000003,-0.000389,0.000558
2877,10.319537,2022-05-19 23:58:45,30319.180000,2.653744,30318.591111,0.620722,30318.086667,0.219122,30317.767222,0.326067,...,30323.008333,0.712428,30323.123333,0.800967,30323.241667,0.675256,30319.209877,0.000003,-0.000252,0.000558
2878,10.319560,2022-05-19 23:59:15,30319.861667,2.928600,30319.371667,0.253267,30319.170000,1.180767,30318.805000,1.711983,...,30323.838333,0.591883,30324.008333,0.344667,30324.175000,0.469600,30319.925778,0.000003,0.000024,0.000558
2879,10.319584,2022-05-19 23:59:45,30320.560000,2.786183,30320.020000,0.357083,30319.876667,0.306200,30319.665000,0.771800,...,30323.946667,0.375933,30324.131667,0.539817,30324.335000,0.620150,30320.631974,0.000003,0.000023,0.000558

In [28]:
data.columns

Index(['log_price', 'primary_key', 'bp1', 'bs1', 'bp2', 'bs2', 'bp3', 'bs3',
       'bp4', 'bs4', 'bp5', 'bs5', 'bp6', 'bs6', 'bp7', 'bs7', 'bp8', 'bs8',
       'bp9', 'bs9', 'bp10', 'bs10', 'bp11', 'bs11', 'bp12', 'bs12', 'bp13',
       'bs13', 'bp14', 'bs14', 'bp15', 'bs15', 'bp16', 'bs16', 'bp17', 'bs17',
       'bp18', 'bs18', 'bp19', 'bs19', 'bp20', 'bs20', 'ap1', 'as1', 'ap2',
       'as2', 'ap3', 'as3', 'ap4', 'as4', 'ap5', 'as5', 'ap6', 'as6', 'ap7',
       'as7', 'ap8', 'as8', 'ap9', 'as9', 'ap10', 'as10', 'ap11', 'as11',
       'ap12', 'as12', 'ap13', 'as13', 'ap14', 'as14', 'ap15', 'as15', 'ap16',
       'as16', 'ap17', 'as17', 'ap18', 'as18', 'ap19', 'as19', 'ap20', 'as20',
       'WAP', 'spread', 'log_returns', 'realized_volatility'],
      dtype='object')

In [31]:
#sum of all bid quantities
data['bid depth'] = data[['bs1', 'bs2', 'bs3','bs4', 'bs5', 'bs6','bs7', 'bs8', 'bs9','bs10',
                         'bs11', 'bs12', 'bs13','bs14', 'bs15', 'bs16','bs17', 'bs18', 'bs19','bs20']].sum(axis=1)

In [33]:
#sum of all bid quantities
data['ask depth'] = data[['as1', 'as2', 'as3','as4', 'as5', 'as6','as7', 'as8', 'as9','as10',
                         'as11', 'as12', 'as13','as14', 'as15', 'as16','as17', 'as18', 'as19','as20']].sum(axis=1)

In [37]:
#Order Flow Imbalance (OFI) 
#relative quantities of bids vs asks
#full depth (approx 20 levels) OFI
data['FDOFI'] = (data['bid depth']-data['ask depth'])/(data['bid depth']+data['ask depth'])

In [38]:
data=data.set_index('primary_key')

In [39]:
data.head()

,log_price,bp1,bs1,bp2,bs2,bp3,bs3,bp4,bs4,bp5,...,as19,ap20,as20,WAP,spread,log_returns,realized_volatility,bid depth,ask depth,FDOFI
primary_key,,,,,,,,,,,,,,,,,,,,,
2022-05-19 00:00:15,10.265354,28720.075362,3.772080,28719.533333,1.405377,28719.011594,0.626551,28718.371014,0.505087,28717.980435,...,0.707326,28724.657971,1.104145,28720.131688,0.000015,0.001254,0.000000,31.837920,15.108906,0.356340
2022-05-19 00:00:45,10.266608,28755.960345,1.878828,28755.570690,0.335776,28755.050000,0.573517,28754.684483,0.737259,28754.279310,...,0.773897,28761.250000,0.854017,28756.179152,0.000010,0.001254,0.000000,12.962207,23.700362,-0.292892
2022-05-19 00:01:15,10.267532,28782.703333,1.771600,28782.131667,0.536867,28781.485000,0.402600,28781.140000,0.382467,28780.815000,...,0.376617,28788.750000,0.425300,28782.777221,0.000005,0.000925,0.000000,11.303767,11.144067,0.007114
2022-05-19 00:01:45,10.267768,28789.470000,1.767750,28788.766667,0.343217,28788.278333,0.243650,28788.046667,0.325300,28787.726667,...,0.536067,28794.623333,0.395067,28789.546017,0.000005,0.000235,0.000165,10.402750,14.287550,-0.157341
2022-05-19 00:02:15,10.267733,28788.382759,1.634448,28787.839655,0.342845,28787.370690,0.396414,28787.039655,0.232483,28786.703448,...,0.473741,28793.763793,0.417776,28788.543348,0.000008,-0.000035,0.000425,9.357000,11.494069,-0.102492

In [43]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# scaler.fit(data)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data[['log_price']].boxplot();

In [ ]:
data[['WAP']].boxplot();

In [ ]:
data[['spread']].boxplot();

In [ ]:
data[['log_returns']].boxplot();

In [41]:
data[['realized_volatility']].boxplot();

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

# Baseline Model: Time Series

## Step 1: Create volatility levels

In [ ]:
pd.qcut(data['realized_volatility'],20).value_counts()

In [ ]:
plt.hist(data.realized_volatility, bins = 200);

In [ ]:
data['realized_volatility'].describe()

In [ ]:
data['volatility_levels'] = ['red' if x == 'Z' else 'green' for x in df['Set']]